/* 메인 */
/* box-sizing */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* main_container */
#main_container{
  position: relative;
  min-height: 700px;
}

/* .swiper.type01 */
.swiper-pagination.type01{
  display: inline-block;
  width: auto;
  border-radius: 16px;
  /* border: 1px solid #E1E3E9;
  background: #FFF; */
  padding: 4px 16px;
  line-height: 17px;
  color:#AEB7C6 !important;
}



.img_noti_show{
  position:absolute;
  top:0;
  left:0;
  z-index: 10;
  width:450px;
  background:#fff;
}
.img_noti_show table{table-layout:fixed;}
/* 20231228 수정 */
.img_noti_show td a{
  display: flex;
  padding: 10px;
  height: 70px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.img_noti_show td{border: 1px solid #E1E3E9;vertical-align:top;}

/* 20231212 */
.img_noti_show .foot{
  position:relative;
  padding: 6px 24px;
  background: #0072BC;
  color:#fff;
  font-size:16px;
}
.img_noti_show .list li{padding:16px 8px;border: 1px solid #E1E3E9;height:82px;margin:-1px 0 0 -1px;}
.img_noti_show .txt{
  font-size:16px;
  font-weight:400;
}

/* 20231212 */
.img_noti_show .btn_close {
  position: absolute;
  top: 4px;
  right: 25px;
  display: block;
  width: 30px;
  height: 30px;
}
.img_noti_show .btn_close:before,
.img_noti_show .btn_close:after {
  position: absolute;
  top: 50%;
  left: initial;
  content: '';
  width: 30px;
  height: 1px;
  background: #fff;
  transform: rotate(45deg);
  margin-left: -15px;
}
.img_noti_show .btn_close:after {
  transform: rotate(-45deg);
}

/* 20231212 */
/* 중단 배너 1,2,3 */
.mid_banner_cont{margin:0 -3px;display: flex;justify-content: space-between;}
.mid_banner_cont:after{content:'';display:block;clear:both;}
.mid_banner_cont li{padding:0 3px;float:left;}

.big_tit{
  color: #222;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
}
.small_tit{
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px; /* 100% */
  letter-spacing: -0.64px;
}
.ico_star{background:url(../img/common/ico/ico_star.png) 0 0 no-repeat;padding-left:42px;line-height:40px;}
.bottom_line{border-bottom:1px solid #092D74;padding-bottom:16px;}
.big_tit .ico_info{height:32px;vertical-align:-6px;}
.ico_info{
  display:inline-block;
  background:url(../img/common/ico/ico_info.png) 50% no-repeat;
  width:32px;
  height:32px;
  position:relative;
}
.ico_info:hover .tooltip_cont{
  display:block;
}
.swiper.sw02 .swiper-scrollbar-drag{
  background: rgba(0,0,0,.1);
}
.swiper.sw02 .swiper-scrollbar{
  background:none;
}
.swiper.sw02 .edge_tag{bottom:2px !important;}

.product_list{
  /* margin-top:40px; */
  overflow:visible;
}

.type02 .swiper-button-prev{
  left: -20px;
  width:48px;
  height:48px;
}
.type02 .swiper-button-next{
  right: -20px;
  width:48px;
  height:48px;
}
.product_list .swiper-slide{
  opacity: 0.5;
}
.product_list .swiper-slide-active,
.product_list .swiper-slide-active + .swiper-slide,
.product_list .swiper-slide-active + .swiper-slide + .swiper-slide,
.product_list .swiper-slide-active + .swiper-slide + .swiper-slide,
.product_list .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide{
  opacity:1;
}

.product_list .products li{display:block;}
.product_list .products .img_box{
  display: table;
  text-align:center;
  width: 100%;
  height: 280px;
  border: 1px solid #EFF3F9;
  border-radius: 12px;
  background: #FFF;
  overflow:hidden;
}
.product_list .products .img_box.tit>a{
  width: auto;
  display: block;
  height: 100%;
}
.product_list .products .box{position:relative;}
.product_list .products .info_box{
  text-align:left;
  margin-top:8px;
  padding: 16px;
}

.product_list .products .info_box .tit{
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px; /* 100% */
  letter-spacing: -0.64px;
  height:16px;
  display: block; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;
}
.products .info_box .sub_info{
  margin-top:8px;
  color: #717B8A;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -1px;
  display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; 
  height:14px;
}
.products .info_box .price{
  color: #AEB7C6;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  text-decoration: line-through;
  display:inline-block;
}
.products .price_cont{
  position:relative;
  text-align:right;
  padding-top:12px;
}
.products .price_cont .sale{
  position:absolute;
  top:15px;
  left:0;
  color: #FF4949;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.products .info_box .marketPrice{
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
  display:inline-block;
  margin-left:5px;
}
.img_box:hover .over{display:block;}
.img_box .over{
  display:none;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0, 0, 0, 0.65);
  color:#fff;
  padding:33px 20px;
  text-align:center;
  z-index: 1;
  overflow:hidden;
}

.img_box .over .amountbox{
  margin-top:20px;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
  letter-spacing: -0.6px;
}

.img_box .over .linkbox{
  display: flex;
  justify-content: space-evenly;
}

.n_btn{
  border-radius: 12px;
  background: #0072BC;
}


.img_box .over .orderbox{
  margin-top:20px;
  padding:0 20px;
  display: flex;
}
.img_box .over .orderbox a{
  width:100%;
  padding:16px 0;
  margin:0 5px;
  font-size:16px;
  position:relative;
}
/* .img_box .over .orderbox a+a:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  width: 1px;
  height: 15px;
  background: #E1E3E9;
  cursor: default;
} */
.img_box .over .link_blank{
  background:url(../img/common/ico/ico_link_blank.png) 50% 50% no-repeat;
  width:40px;
  height:40px;
}
.img_box .over .link_zoom{
  background:url(../img/common/ico/ico_link_zoom.png) 50% 50% no-repeat;
  width:40px;
  height:40px;
}
.img_box .over .link_wish{
  background:url(../img/common/ico/ico_link_wish.png) 50% 50% no-repeat;
  width:40px;
  height:40px;
}
.img_box .over .link_wish.active{
  background:url(../img/common/ico/ico_link_wish_on.png) 50% 50% no-repeat;
  width:40px;
  height:40px;
}

.img_box .over .orderbox .cart .ico{
  padding-left:30px;
  background:url(../img/common/ico/ico_cart.png) 0 50% no-repeat;
}
.img_box .over .orderbox .order .ico{
  padding-left:30px;
  background:url(../img/common/ico/ico_order.png) 0 50% no-repeat;
}

/* 이 상품을 찾으셨나요? */
.find_product_area .tab-item{
  cursor: pointer;
  display: inline-block;
  padding: 16px 24px;
  border-radius: 24px;
  background: #EFF3F9;
  color: #717B8A;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px; /* 100% */
  letter-spacing: -0.64px;
  margin-right:10px;
  margin-bottom:16px;
}
.find_product_area .tab-item.active{
  border-radius: 24px;
  background: linear-gradient(102deg, #1293E7 0%, #32B6BD 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 114, 188, 0.20);
  color: #FFF;
  font-weight: 700;
}
.find_product_area .tab-menu{
  display: block;
}
.find_product_area .products{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap:13px;
}
.find_product_area .tab-menu{padding-right:200px;}
.find_product_area .product_list{
  margin-top:0;
  padding-top:40px;
  position:relative;
}
.find_product_area .product_list .btn_more{
  position:absolute;
  top:35px;
  right:0;
}
.find_product_area .product_list .products li{
  display: block;
  margin-left:11px;
  margin-top:40px;
  width:278px;
}
.find_product_area .product_list .edge_tag_box{height:278px !important;}
.find_product_area .tab_list{position:relative;}
.find_product_area .more_cont{
  position:absolute;
  top:15px;
  right:0;
}
.ico_category{
  color: #717B8A;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px; /* 100% */
  letter-spacing: -0.64px;
  padding-right:20px;
  background:url(../img/common/ico/ico_down.png) 100% 50% no-repeat;
}
.ico_category.on{
  background:url(../img/common/ico/ico_up.png) 100% 50% no-repeat;
}

.tab_category{
  height: 65px;
  overflow: hidden;
  border-bottom: 1px solid #E1E3E9;
}
.tab_category.on{
  height:auto;
}

.ico_more{
  color: #717B8A;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px; /* 100% */
  letter-spacing: -0.64px;
  padding-right:20px;
  background:url(../img/common/ico/ico_more.png) 100% 50% no-repeat;
}

.over .value{
  width: 100%;
  height: 48px;
  padding: 0 35px;
  border: none 0;
  border-radius: 0;
  background:none;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.num_nav_box{margin-top:10px;}
.num_nav_box{
  position:relative;
  width:50%;
  margin:18px auto 0;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.60);
  background: rgba(0, 0, 0, 0.20);
}
.num_nav_box .up{
  position:absolute;
  top:50%;
  right:10px;
  background:url(../img/common/ico/btn_up.png) 50% no-repeat;
  width:25px;
  height:25px;
  color:transparent;
  font-size:0px;
  margin-top:-12px;
}
.num_nav_box .dn{
  position:absolute;
  top:50%;
  left:10px;
  background:url(../img/common/ico/btn_down.png) 50% no-repeat;
  width:25px;
  height:25px;
  color:transparent;
  font-size:0px;
  margin-top:-12px;
}

/* 
.find_product_cont{
  padding:30px;
  background: #F7F8FA url(../img/common/bg_logo.png) 50% 100% no-repeat;
}
.find_product_cont li{
  width:25%;
  float:left;
  padding:8px;
}
.find_product_cont li .box{
  position:relative;
  border-radius: 20px;
  border: 1px solid rgba(205, 209, 219, 0.30);
}
.find_product_cont li:hover .over{display:block;padding: 50px 18px !important;}
.find_product_cont .productList{margin:0;padding:0;}
.find_product_cont .product_list .products:after{content:'';display:block;clear:both;}
.find_product_cont .product_list .products .img_box{
  position:initial;
}
.find_product_cont .product_list .products .price_cont{position:initial;}
.over .value{
  width: 100%;
  height: 48px;
  padding: 0 35px;
  border: none 0;
  border-radius: 0;
  background:none;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.num_nav_box{margin-top:10px;}
.num_nav_box{
  position:relative;
  width:50%;
  margin:18px auto 0;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.60);
  background: rgba(0, 0, 0, 0.20);
}
.num_nav_box .up{
  position:absolute;
  top:50%;
  right:10px;
  background:url(../img/common/ico/btn_up.png) 50% no-repeat;
  width:25px;
  height:25px;
  color:transparent;
  font-size:0px;
  margin-top:-12px;
}
.num_nav_box .dn{
  position:absolute;
  top:50%;
  left:10px;
  background:url(../img/common/ico/btn_down.png) 50% no-repeat;
  width:25px;
  height:25px;
  color:transparent;
  font-size:0px;
  margin-top:-12px;
}
.find_product_cont .product_list .products .img_box{
  border:none;
}
.find_product_cont .product_list .products .price_cont{
  border:none;
  padding:0;
  margin:0;
}
.find_product_cont .product_list .products .price_cont{position:relative;}
.find_product_cont .product_list .products .price_cont .tit{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.find_product_cont .product_list .products .info_box .price{
  font-size:20px;
  height:auto;
}
.find_product_cont .product_list .products .info_box{
  height:auto;
  background:#fff;
  margin-top:0;
}
.find_product_cont .title_box{
  position:relative;
  padding: 40px 24px;
  border-radius: 0px 20px !important;
  border: 2px solid #0072BC !important;
  background: #FFF;
  height:330px;
  box-shadow: 0px 12px 8px 0px rgba(154, 168, 202, 0.30);
}
.find_product_cont .title_box .tit{
  background:url(../img/common/ico/ico_search.png) 0 0 no-repeat;
  padding-top:48px;
  font-weight:500;;
  color:#092D74;
  font-size:24px;
  letter-spacing:-2px;
}
.find_product_cont .title_box .txt_cont{
  margin-top:14px;
  font-size:16px;
  color:#222;
}
.find_product_cont .title_box .name{
  font-weight:400;
  display: block;
}
.find_product_cont .title_box .txt{
  font-weight:500;
  letter-spacing:-2px;
}
.find_product_cont .title_box .btn{
  margin-top:14px;
  border-radius: 12px;
  border: 1px solid #E1E3E9;
  padding:11px 14px;
  display:block;
  width:100%;
  text-align:left;
}
.find_product_cont .title_box .btn .sub{
  display: block;
  color:#717B8A;
  font-size:16px;
}
.find_product_cont .title_box .btn .txt{
  display: block;
  color:#222;
  font-size:18px;
  line-height: 18px;
  margin-top:8px;
}
.find_product_cont .find_box.on{display:block;}
.find_product_cont .find_box{
  display:none;
  position: absolute;
  top: -1px;
  right: -288px;
  width: 288px;
  height: 330px;
  background: #fff;
  z-index: 10;
  border: 2px solid #0072BC;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
.find_product_cont .find_box .tit{
  background:#0072BC;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1.08px;
  padding: 16px 16px 16px 24px;
}
.find_product_cont .find_box .list{
  padding: 10px 24px 16px 24px;
  overflow-x: auto;
  height: 276px;
}
.find_product_cont .find_box ul:after{content:'';display:block;clear:both;}
.find_product_cont .find_box ul li{
  display:block;
  width:100%;  
  color: #222;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1.08px;
}
.find_product_cont .find_box ul li a{
  display:block;
}
.find_product_cont .find_box ul li+li{
  margin-top: 4px;
  padding-top: 7px;
  border-top: 1px solid #E1E3E9;
}
.find_product_cont .find_box .btn_close{
  position: absolute;
  top: 16px;
  right: 15px;
  width: 20px;
  height: 20px;
}
.find_product_cont .find_box .btn_close:before,
.find_product_cont .find_box .btn_close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 23px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  margin-top: -2px;
  margin-left: -11px;
}
.find_product_cont .find_box .btn_close:after {
  transform: rotate(-45deg);
  margin-left: -11px;
}


























/* 고객님에게 맞는 상품을 추천해 드립니다. */
.recommend_cont .tab-group{
  position:relative;
  padding-left:340px;
  height:350px;
}
.recommend_cont .tab-menu{
  position:absolute;top:0;left:0;
  width:288px;
  display: block;
}
.recommend_cont .tab-menu .tab-item{
  display: block;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #E1E3E9;
  background: #FFF;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 100% */
  letter-spacing: -0.72px;
  cursor: pointer;
  text-align: center;
}
.recommend_cont .product_list{margin-top:0;}
.recommend_cont .tab-menu .tab-item+.tab-item{margin-top:12px;}
.recommend_cont .tab-menu .tab-item:hover,
.recommend_cont .tab-menu .tab-item.active{color: #0072BC;}
.recommend_cont .product_list .products .img_box{height:162px;}
.recommend_cont .more{
  position:absolute;
  left:340px;
  bottom:0;
  border-radius: 28px;
  border: 1px solid #D8DDE9;
  height: 56px;
  padding: 16px 16px 16px 24px;
  width: calc(100% - 340px);
  text-align: center;
}
.recommend_cont .more span{
  color: #717B8A;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 100% */
  letter-spacing: -0.72px;
  background:url(../img/common/ico/ico_more_02.png) 100% 50% no-repeat;
  background-size:24px auto;
  padding-right:30px; 
}
.product_list.type02 .products .info_box .tit{
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.64px;
  height: 32px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product_list.type02 .products .info_box{
  padding:0;
}
.product_list.type02 .products .price_cont{
  text-align:left;
}
.product_list.type02 .products .price_cont .sale{
  font-size:15px;
}
.product_list.type02 .products .info_box .price{
  padding-left:40px;
  font-size:13px;
}
.product_list.type02 .products .info_box .marketPrice{
  margin-left:0;
  margin-top:5px;
  display: block;
}
.product_list.type02 .ico_cart{
  position:absolute;
  right:0;
  bottom:0;
}
.ico_cart{
  display:inline-block;
  width:42px;
  height:42px;
  background:url(../img/common/ico/ico_product_cart.png) 50% no-repeat;
}
.product_list.type03 .products .info_box .tit{
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.64px;
  height: 32px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product_list.type03 .products .info_box{
  padding:0;
}
.product_list.type03 .products .price_cont{
  text-align:right;
  padding-top:5px;
}
.product_list.type03 .products .price_cont .sale{
  font-size:16px;
  top: 33px;
}
.product_list.type03 .products .info_box .price{
  padding-left:40px;
  font-size:14px;
}
.product_list.type03 .products .info_box .marketPrice{
  margin-left:0;
  margin-top:5px;
  display: block;
  position:absolute;
  top:25px;
  right:0;
}
.product_list.type03 .ico_cart{
  position:absolute;
  right:0;
  bottom:0;
}
































/* #맞는 제품을 추천해드립니다 */
.product_list_type .recommend_wrap{
  position:relative;
  margin-top:5px;
  height:450px;
  padding-bottom:50px;
}
.product_list_type .recommend_wrap .more_btn_box{
  position:absolute;
  left:0;
  bottom:0;
}
.recommend_wrap>.title{
  font-size:18px;
  font-weight:400;
  padding-top:40px;
  background:url(../img/common/ico/img_smile.png) 0 0 no-repeat;
}
.recommend_wrap>.title span{
  font-weight:500;
}
.recommend_wrap>.title .point{
  color: #0072BC;
  font-size: 28px;
  margin-top:3px;
  display:inline-block;
}
.recommend_wrap .recomend_list{
  margin:40px -5px;
}
.recommend_wrap .recomend_list:after{content:'';display:block;clear:both;}
.recommend_wrap .recomend_list li{
  float:left;
  width:25%;
  padding:0 5px;
}
.recommend_wrap .recomend_list .sub_product+.sub_product+.sub_product{display:none;}
.recommend_wrap .recomend_list.show .sub_product+.sub_product+.sub_product{display:block;}
.recommend_wrap .recoment_tit{
  border-radius: 0px 12px 0px 0px;
  background: #EFF3F9;
  height: 40px;
  font-size:18px;
  line-height:40px;
  padding: 0px 16px;
  margin-bottom:5px;
}
.recommend_wrap .product_list .products .info_box{
  height:192px;
}
.product_list .products .info_box .num{
  color: #0072BC;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom:5px;
}
.recommend_wrap .sub_product{
  position:relative;
  padding-left:90px;
  height:74px;
  margin-top:16px;
}
.recommend_wrap .sub_product .img_box{
  position:absolute;
  top:0;
  left:0;
  width:74px;
  height:74px;
  border-radius:12px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #E1E3E9;
  background: #FFF;
}
.recommend_wrap .sub_product .info_box{
  background: none;
  height: auto !important;
  margin: 0;
  padding: 0;
  border-radius: initial;
}
.recommend_wrap .sub_product .product_txt{
  min-height:auto !important;
  height:42px;
}
.recommend_wrap .sub_product .product_txt .num{
  position:absolute;
  top:5px;
  left:5px;
  font-size:14px;
}
.recommend_wrap .sub_product .tag{
  position:absolute;
  left:0;
  bottom:0;
  display:inline-block;
  background: #5198ED;
  padding: 2px 8px;
  line-height:16px;
  color:#fff;
  font-size:12px;
  font-weight:600;
  z-index: 1;
}
.recommend_wrap .sub_product .product_txt .tit{
  font-size:16px;
  height:35px;
}
.recommend_wrap .sub_product .product_txt .tit a{
  line-height:18px;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.recommend_wrap .sub_product .price_cont{
  padding: 0;
  margin: 0;
  border: none;
  text-align:left;
}
.recommend_wrap .sub_product .sale{
  display:block;
  position: initial;
  font-size: 13px;
  height:18px;
  color: #32B6BD;
}
.recommend_wrap .sub_product .price{
  display: inline-block;
  text-align:left;
  font-size: 13px;
  vertical-align: top;
}
.recommend_wrap .sub_product .marketPrice{
  display: inline-block;
  font-size: 13px;
  padding-left:10px;
  vertical-align: top;
  margin:0;
  text-decoration: line-through;
  color: #32B6BD;
}




.recommend_wrap .sub_product .cart{
  position:absolute;
  bottom:0;
  right:0;
  background: url(../img/common/ico_side_right_03.png) 0 0 no-repeat;
  width:25px;
  height:25px;
  background-size:25px;
  font-size:0;
  color:transparent;
  z-index:1;
}
.product.type02 .info_box .cart{
  position:absolute;
  bottom:20px;
  right:0;
  background: url(../img/common/ico_side_right_03.png) 0 0 no-repeat;
  width:25px;
  height:25px;
  background-size:25px;
  font-size:0;
  color:transparent;
  z-index:1;
}
.product_list_type .info_box .cart{
  position:absolute;
  bottom:0;
  right:5px;
  background: url(../img/common/ico_side_right_03.png) 0 0 no-repeat;
  width:25px;
  height:25px;
  background-size:25px;
  font-size:0;
  color:transparent;
  z-index:1;
}

.more_btn{
  border-radius: 12px;
  border: 1px solid #0072BC;
  height: 64px;
  width:100%;
  padding: 16px;
  text-align:center;
  color: #0072BC;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
.more_btn.no_border{
  padding:0;
  border:none;
}
.more_btn span{
  background:url(../img/common/ico/btn_more.png) 100% 50% no-repeat;
  height:32px;
  line-height:32px;
  padding-right:40px;
  display:inline-block;
}
.show.more_btn span{
  background:url(../img/common/ico/btn_more_off.png) 100% 50% no-repeat;
  height:32px;
  line-height:32px;
  padding-right:40px;
  display:inline-block;
}
.more_btn.type02 span{
  background:url(../img/common/ico/btn_more02.png) 100% 50% no-repeat;
  height:32px;
  line-height:32px;
  padding-right:40px;
  display:inline-block;
}

































#main_new .edge_tag_box{
  position:relative;
  height: 160px;
  display:table-cell;
  vertical-align: middle;
}
/* #main_new .edge_tag_box img{
  width:100%;
} */
#main_new .rank_box{
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}
#main_new .rank_box .num{
  display:inline-block;
  border-radius: 12px 0px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  width: 36px;
  height: 36px;
  line-height:27px;
  padding: 4px;
  background:#AEB7C6;
}
#main_new .rank_box .num.on{
  background: #FF4949;
}



#main_new .tag_box{
  position: absolute;
  top: 10px;
  left: 15px;
  text-align:left;
}
#main_new .wish_box{
  position: absolute;
  top: 10px;
  right: 15px;
}
#main_new .ico_wish{
  background:url(../img/common/ico/ico_wish.png) 50% no-repeat;
  background-size:32px auto;
  width:32px;
  height:32px;
  display: inline-block;
}
#main_new .edge_tag{
  display: inline-block;
  height: 24px;
  padding: 0px 8px;
  border-radius: 12px;

  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  text-align: center;
}

/* 전문 브랜드관 */
.brand_area .brand-type .tab-item img{filter:grayscale(1)}
.brand_area .brand-type .tab-item.active img{filter:grayscale(0)}
.brand_area .swiper_wrap .sw_brand_logo{
  border-radius: 12px;
  border: 2px solid #1293E7;
  background: #FFF;
  box-shadow: 0px 6px 6px 0px rgba(50, 182, 189, 0.20);
  overflow:hidden;
  padding: 16px 32px;
}
.brand_area .swiper_wrap li{cursor: pointer;}
.brand_area .cont .product_list .products{height:260px;}
.brand_area .cont .product_list .products .img_box{height:160px;}
.brand_area .cont .product_list .products .img_box .edge_tag_box{height:160px !important;}

.overflow_slide{overflow:hidden;}
.overflow_slide .swiper{overflow:visible;}
.overflow_slide .swiper-slide{
  opacity: 0.5;
}
.overflow_slide .swiper-slide-active,
.overflow_slide .swiper-slide-active+.swiper-slide,
.overflow_slide .swiper-slide-active+.swiper-slide+.swiper-slide,
.overflow_slide .swiper-slide-active+.swiper-slide+.swiper-slide+.swiper-slide,
.overflow_slide .swiper-slide-active+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide,
.overflow_slide .swiper-slide-active+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide,
.overflow_slide .swiper-slide-active+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide{
  opacity:1;
}
.swiper-button-next, .swiper-button-prev{width:auto;height:auto;}
.swiper-button-next:after, .swiper-button-prev:after{display:none;}

.tab-content .tab-pane{display:none;}
.tab-content .tab-pane.active{display:block;}























/* 20231218 수정 */
.product.type02{text-align:left;padding:0 5px;}
.product.type02 .info_box{
  position:relative;
  margin-top:10px;
}
.product.type02 .info_box .tit{
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -1px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product.type02 .img_box{position:relative;}

/* 20231220 수정 */
.product.type02 .img_box .border{
  border-radius: 12px;
  border: 1px solid #E1E3E9;
  width:100%;
  height:120px;
  background: #FFF;
  overflow: hidden;
  position:relative;
  text-align:center;
}

.product.type02 .tag{
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  background: #5198ED;
  padding: 2px 8px;
  line-height: 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  z-index: 1;
}
.product.type02 .price_cont{
  margin-top:5px;
}
.product.type02 .sale{
  display: block;
  font-size: 14px;
  height: 18px;
  color: #32B6BD;
}
.product.type02 .price{
  display: inline-block;
  text-align: left;
  font-size: 14px;
  vertical-align: top;
}
.product.type02 .marketPrice{
  display: inline-block;
  font-size: 13px;
  padding-left: 10px;
  vertical-align: top;
  margin: 0;
  text-decoration: line-through;
}
.product_tab_list_wrap:after{content:'';display:block;clear:both;}
.product_tab_list_wrap{margin:0 -28px}
.product_tab_list_wrap .content_box{width:50%;float:left;padding:0 28px;}
.content_box .tit_cont{
  position:relative;
  margin-bottom:25px;
}
.content_box .tit_cont .tit{
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 100% */
  letter-spacing: -1.12px;
}
.content_box .btn_more{
  position:absolute;
  top:10px;
  right:0;
}

/* .btn_more{
  padding-right:30px;
  position:absolute;
}
.btn_more:after{
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  content: '';
  width: 7px;
  height: 7px;
  border-top: 2px solid #717B8A;
  border-right: 2px solid #717B8A;
  transform: rotate(45deg);
} */

.product_tab_list_wrap .content_box .img_banner_cont>img{width:100%;height:100%;}
.tab-menu {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  align-items: center;
}

/* .product_list_type .tab-item+.tab-item.active:before {
  background: #fff;
}
.product_list_type .tab-item:after{
  content: '';
  width: 1px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: -1px;
  margin-top: -8px;
  background: #D8DDE9;
  z-index: 1;
} */
.product_list_type .tab-item.active:after {
  
}
.product_list_type .recommend_wrap:after{content:'';display:block;clear:both;}
.product_list_type .sub_product{
  width:50%;
  float:left;
  position: relative;
  padding-left: 114px;
  padding-right:10px;
  height: 104px;
  margin-top: 16px;
}
.product_list_type  .sub_product .img_box{
  width:104px;
  height:104px;
}

.more_btn_box{
  display: flex;
  height: 48px;
  width:100%;
  padding: 16px 16px 16px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #E1E3E9;
  background: #EFF3F9;
  color: #717B8A;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
}
.more_btn_box .arrow{
  padding-right:15px;
  letter-spacing:-1px;
}
.more_btn_box .arrow:after{
  margin-top:-5px;
  right:0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #717B8A;
  border-right: 2px solid #717B8A;
}

/* 의료용품관, 의료소모품관 */
.medical_cont .swiper_wrap.type03 .swiper{width:100%;}
.swiper_wrap.type03 .swiper .swiper-button-next{position:absolute;top:auto;left:auto;right:56px;bottom:16px;width:32px;height:32px;}
.swiper_wrap.type03 .swiper .swiper-button-prev{position:absolute;top:auto;left:auto;right:96px;bottom:16px;width:32px;height:32px;}
.swiper_wrap.type03 .swiper .swiper-pagination{position:absolute;top:auto;left:auto;right:126px;bottom:18px;font-size:15px;color:#717B8A;}
.swiper_wrap.type03 .swiper .swiper-autoplay-button{position:absolute;top: auto;left: auto;right: 16px;bottom: 16px;cursor: pointer;z-index: 1;}

.swiper-autoplay-button .pause{display:block;}
.swiper-autoplay-button .play{display:none;}
.swiper-autoplay-button.paused .pause{display:none;}
.swiper-autoplay-button.paused .play{display:block;}

.medical_cont .tab_list{
  padding: 20px 32px;
  background:#fff;
  border-radius:0 0 12px 12px;
}
.medical_cont .tab-menu{display: block;border-bottom: 1px solid #E1E3E9;padding-bottom:14px;margin-bottom:17px;}
.medical_cont .tab-menu li{display: inline-block;width: auto;}
.medical_cont .tab-menu .tab-item{
  color: #717B8A;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px; /* 100% */
  letter-spacing: -0.64px;
  cursor: pointer;
  position:relative;
  padding-right:10px;
  margin-right:10px;
}
.medical_cont .tab-menu .tab-item.active{
  color: #1293E7;
  font-weight: 600;
}
.medical_cont .tab-menu .tab-item:after{
  content:'';
  display:inline-block;
  background:#D8DDE9;
  width:1px;
  height:16px;
  position:absolute;
  top:5px;
  right:0;
}
.medical_cont .tab-menu .tab-item:last-child:after{display:none;}
.product_list.mode02 .img_box{
  position:absolute;
  top:0;
  left:0;
  width:144px;
  height:144px;
  display:table;
}
.product_list.mode02{margin-top:0;}
.product_list.mode02 .products{
  position:relative;
  padding-left:170px;
  height:144px;
}
.product_list.type02.mode02 .products .info_box .tit{
  font-size:18px;
  line-height:24px;
  height: 50px;
}
.product_list.type02.mode02 .products .price_cont .sale{
  font-size:18px;
  top:13px;
}
.product_list.type02.mode02 .products .info_box .price{
  padding-left:50px;
  font-size:18px;
}
.product_list.type02.mode02 .products .info_box .marketPrice{
  font-size:24px;
  margin-top:8px;
  position: absolute;
  top:27px;
}
.product_list.type02.mode02 .ico_cart{
  position: absolute;
  right:0;
  top:20px;
  bottom:initial;
}
.product_list.type02.mode02 .img_box .over .link_blank{
  width:24px;
  height:24px;
  background-size:24px auto;
}
.product_list.type02.mode02 .img_box .over .link_wish{
  width:24px;
  height:24px;
  background-size:24px auto;
}
.product_list.type02.mode02 .img_box .over{padding:10px;}
.product_list.type02.mode02 .img_box .over .amountbox{
  margin-top:10px;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px; /* 100% */
  letter-spacing: -0.52px;
}
.product_list.type02.mode02 .num_nav_box{
  margin:10px auto 0;
  width:90%;
}
.product_list.type02.mode02 .over .value{height:35px}
.product_list.type02.mode02 .num_nav_box .up{width:12px;height:12px;background-size:23px auto;margin-top:-7px;right:15px;}
.product_list.type02.mode02 .num_nav_box .dn{width:12px;height:12px;background-size:23px auto;margin-top:-7px;left:15px;}
.product_list.type02.mode02 .over .value{font-size:15px;}
.product_list.type02.mode02 .img_box .over .orderbox{
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 101%;
  margin: 0;
  padding: 0;
}
.product_list.type02.mode02 .img_box .over .orderbox a{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0;
  margin: 0 1px;
  border-radius: 0;
}
.product_list.type02.mode02{}


.medical_cont .btn_area{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  border-top: 1px solid #E1E3E9;
  padding-top: 14px;
  margin-top: 17px;
  text-align:right;
}
.medical_cont .btn_area button{padding:5px;}
.medical_cont .tab-content .tab-pane{height:522px;padding-bottom:55px;position:relative;}
.medical_cont .img_banner_cont{border-radius: 12px 12px 0 0;overflow:hidden;}

/* 베스트 상품, 지역별 인기상품 */
.best_area .tab-menu{
  display:table;
  width:100%;
  table-layout:fixed;
  border-bottom:1px solid #E1E3E9;
}
.best_area .tab-item{
  display:table-cell;
  color: #AEB7C6;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.8px;
  position:relative;
  height:52px;
  line-height:52px;
}
.best_area .tab-item.active{
  color: #0072BC;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
  letter-spacing: -0.8px;
}
.best_area .tab-item.active:after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:4px;
  display:block;
  background:#0072BC;
}
.best_area .swiper_wrap li{cursor: pointer;}
.best_area .cont .product_list .products{height:260px;}
.best_area .cont .product_list .products .img_box{height:160px;}
.best_area .cont .product_list .products .img_box .edge_tag_box{height:160px !important;}

.best_sw_cont .products{height:260px;}
.best_sw_cont .products .img_box{height:160px;}
.best_sw_cont .cont .product_list .products .img_box{height:160px;}
.best_sw_cont {width: calc(100% - 420px);display: inline-block;vertical-align: top;margin-left: 20px;padding-left: 50px;padding-right: 50px;overflow: hidden;}

.best_sw_cont .swiper-slide-active,
.best_sw_cont .swiper-slide-active+.swiper-slide,
.best_sw_cont .swiper-slide-active+.swiper-slide+.swiper-slide{
  opacity:1;
}
.best_sw_cont .swiper-slide-active+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide,
.best_sw_cont .swiper-slide-active+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide,
.best_sw_cont .swiper-slide-active+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide{
  opacity: 0.5;
}
.best_sw_cont .swiper-button-prev{left:-30px;margin-top:-70px;}
.best_sw_cont .swiper-button-next{right:-30px;margin-top:-70px;}

.brand_content .swiper-button-prev{left:-30px;margin-top:-70px;}
.brand_content .swiper-button-next{right:-30px;margin-top:-70px;}

.product_list .swiper-button-prev{left:-30px;margin-top:-70px;}
.product_list .swiper-button-next{right:-30px;margin-top:-70px;}

.recommend_cont .swiper-button-prev{left:0;margin-top:-70px;}
.recommend_cont .swiper-button-next{right:0;margin-top:-70px;}

.best_sw_banner{width:392px !important;overflow:hidden !important;margin:initial;display: inline-block;vertical-align: top;}
.best_sw_banner .swiper-slide{opacity: 1;}

/* over popup */
.product_list.mode03 .img_box .over {
  padding: 15px;
}
.product_list.mode03 .img_box .over .link_blank {
  width: 24px;
  height: 24px;
  background-size: 24px auto;
}
.product_list.mode03 .img_box .over .link_wish {
  width: 24px;
  height: 24px;
  background-size: 24px auto;
}
.product_list.mode03 .img_box .over .amountbox {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: -0.52px;
}
.product_list.mode03 .img_box .over .amountbox {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: -0.52px;
}
.product_list.mode03 .num_nav_box {
  margin: 10px auto 0;
  width: 90%;
}
.product_list.mode03 .img_box .over .orderbox {
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 101%;
  margin: 0;
  padding: 0;
}
.img_box .over .orderbox a {
  width: 100%;
  padding: 16px 0;
  margin: 0 5px;
  font-size: 16px;
  position: relative;
}
.product_list.mode03 .over .value {
  height: 35px;
}
.product_list.mode03 .img_box .over .orderbox a {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0;
  margin: 0 1px;
  border-radius: 0;
}
/* //over popup */

.area_content .area_txt{margin:32px 0;}
.area_content .area_txt span{
  border-radius: 24px;
  background: #EFF3F9;
  display:inline-block;
  padding: 16px 24px;
  color: #717B8A;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  letter-spacing: -0.64px;
}


/* JW중외제약 공지, 입점사 공지 */
.notice_area{border-top:1px solid #E1E3E9;}
.notice_area .tit_cont{
  position: relative;
}
.notice_area .tit_cont .tit{
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -1.12px;
}
.notice_area .btn_more{
  position: absolute;
  top: 6px;
  right: 0;
}
.notice_area .notice_area_cont:after{content:'';display:block;clear:both;}
.notice_area .notice_area_cont .left_cont{width:50%;float:left;padding-right:40px;}
.notice_area .notice_area_cont .right_cont{width:50%;float:left;padding-left:40px;border-left:1px solid #E1E3E9;}
.notice_area .noti_table{margin-top:30px;}

/* .notice_area .noti_table tr+tr td{padding-top:10px;} */
.notice_area .noti_table td{padding:10px 0;}
.notice_area .noti_table a:before{
  content:'';
  width:4px;
  height:4px;
  background:#717B8A;
  border-radius:50%;
  position:absolute;
  top:8px;
  left:0;
}
.notice_area .noti_table a{
  position:relative;
  padding-left:10px;
}
.notice_area .noti_table td{
  color: #717B8A;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 100% */
  letter-spacing: -0.64px;
}
.notice_area .ico_new{
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: -0.44px;
  width:16px;
  height:16px;
  background:#FF4949;
  border-radius: 5px;
  display:inline-block;
  vertical-align: top;
}

/* footer */
#customer {clear:both;border-top:solid 1px #e5e5e5;background-color:#f9f9fb;padding:47px 0 50px;}
#customer .inner {width:1100px;margin:0 auto;}
#customer .inner:after {content:'';clear:both;display:block;}
#customer .inner > div {float:left;}
#customer .inner .title {height:21px;font-size:18px;font-weight:700;color:#000;line-height:19px;}
#customer .inner .board {border-top:solid 1px #444;margin-top:10px;padding-top:6px;}
#customer .inner .board li a {line-height:25px;margin-top:10px;}
#customer .inner .more {position:absolute;right:0;top:5px;color:#999;font-size:11px;}
#customer .info {width:378px;}
#customer .info .tel {font-weight:700;font-size:48px;line-height:52px;color:#000;letter-spacing:-0.05em;margin-top:2px;}
#customer .info .time {font-size:15px;line-height:20px;color:#000;overflow:hidden;margin-top:8px;}
#customer .info .time dt {float:left;width:75px;padding-left:20px;background:url(../imgs/global/icon_time.png) left 2px no-repeat}
#customer .info .time dd {float:left;width:260px;}
#customer .inquiry {width:418px;height:98px;min-height:98px;padding-top:30px;text-align:center;}
#customer .inquiry ul {border-left:solid 1px #ddd;border-right:solid 1px #ddd;height:98px;padding:0 28px;overflow:hidden;}
#customer .inquiry ul li {float:left;width:120px;}
#customer .inquiry ul li a {display:block;height:20px;padding-top:78px;font-size:15px;color:#222;text-align:center;}
#customer .inquiry ul li.menu1 a {background:url(../imgs/global/icon_customer_inquiry.png) center top no-repeat}
#customer .inquiry ul li.menu2 a {background:url(../imgs/global/icon_customer_cs.png) center top no-repeat}
#customer .inquiry ul li.menu3 a {background:url(../imgs/global/icon_customer_delivery.png) center top no-repeat}
/* #customer .inquiry a {display:block;height:20px;padding-top:78px;position:relative;text-align:center;font-size:15px;color:#000;font-weight:700;background:url(../imgs/global/icon_customer_inquiry.png) center 3px no-repeat}
#customer .inquiry a:before {content:'';width:1px;height:100%;position:absolute;left:-1px;top:0;background-color:#ddd;} */
#customer .faq {width:250px;margin-left:54px;position:relative;}
#customer .delivery {width:250px;margin-left:58px;position:relative;}
#customer .delivery .board li {position:relative;padding-right:40px;}
#customer .delivery .board li .date {position:absolute;right:0;top:0;font-family:'Roboto', sans-serif;font-size:11px;color:#999;width:40px;text-align:center;}

/* #footer{clear:both;}
#footer .inner {width:1100px;margin:0 auto;}
#footer .inner:after {content:'';clear:both;display:block;}
#footer .menubox {background-color:#999;}
#footer .menubox .inner {position:relative;}
#footer .menubox ul.link {overflow:hidden;padding:19px 0;}
#footer .menubox ul.link li {float:left;margin-right:45px;}
#footer .menubox ul.link li a {color:#fff;font-size:15px;}
#footer .menubox .familsite {position:absolute;right:0;top:50%;margin-top:-15px;;}
#footer .infobox {padding:30px 0 60px;}
#footer .infobox h6 {display:block;float:left;width:128px;padding-top:12px;}
#footer .infobox .info {float:left;width:840px;font-size:13px;line-height:22px;color:#0a0b0b;}
#footer .infobox .info p {color:#686a6b;opacity:0.7;margin-top:14px;}
#footer .infobox .qrcode {float:right;width:130px;text-align:center;margin-top:-22px;}
#footer .infobox .qrcode span {display:block;font-size:13px;color:#0a0b0b;} */









/* 레이어박스 */
#laybox-canvas>div {overflow:initial !important;}
.layer_wrap{border:1px solid #000;}
.layer_wrap .layer_cont{background:#fff;}

.layer_cont h1{color:#fff;font-size:16px; background:#ff5963; padding:15px 20px;}
.layer_cont h2{font-weight:bold;color:#3d3d3d;font-size:12px}
.layer_cont h1 > .laybox-close{display:block; width:17px; height:19px; position:absolute; top:16px; right:13px; text-indent:-999px; font-size:0; background:url(../imgs/btn/btn_layer_close.png) 0 0 no-repeat}
.layer_wrap .layer_cont p.txt_area{padding:20px 15px;font-size:14px; text-align:center;}
.layer_wrap .layer_cont .couponList{overflow-y:auto;max-height:240px;margin:0 0 20px;padding:4px 10px 5px;border:1px solid #dcdcdc;background:#f8f8f8}
.layer_wrap .layer_cont .couponList li{padding:3px 0 3px 8px;word-wrap:break-word;font-size:12px;color:#555;line-height:18px;background:url(../imgs/icon/bul_left_info.gif) 0 11px no-repeat}

.layer_wrap .layer_cont .btn_cart{display:inline-block; color:#fff !important; padding:10px 30px; background:#aab2bd;}
.layer_wrap .layer_cont p.txt_area a{color:#ff5a63;}

.layer_wrap .msgbox {position:relative;padding:34px 0 24px;}
.layer_wrap .msgbox h1 {text-align:center;background-color:#fff;color:#666;padding:0;}
.layer_wrap .layerclosebtn {position:absolute;width:13px;height:13px;right:10px;top:10px;text-indent:-999em;}
.layer_wrap .layerclosebtn:before,
.layer_wrap .layerclosebtn:after {content:'';background-color:#555;position:absolute;transform:rotate(-45deg);}
.layer_wrap .layerclosebtn:before {width:100%;height:1px;left:0;top:50%;margin-top:-1px;}
.layer_wrap .layerclosebtn:after {width:1px;height:100%;left:50%;top:0;margin-left:0px;}
.layer_wrap .msgbox .buttonsbox {text-align:center;margin-top:25px;}
.layer_wrap .msgbox .buttonsbox a,
.layer_wrap .msgbox .buttonsbox button {display:inline-block;vertical-align:top;height:34px;width:126px;border-radius:17px;background-color:#0072bc;color:#fff;text-align:center;line-height:32px;margin:0 3px;}

.layer_wrap_new .layer_cont {border:solid 2px #000;overflow:hidden;background-color:#fff;padding:40px;position:relative;}
.layer_wrap_new .layerclosebtn {position:absolute;width:40px;height:40px;right:20px;top:20px;text-indent:-999em;}
.layer_wrap_new .layerclosebtn:before,
.layer_wrap_new .layerclosebtn:after {content:'';background-color:#000;position:absolute;transform:rotate(-45deg);}
.layer_wrap_new .layerclosebtn:before {width:100%;height:2px;left:0;top:50%;margin-top:-1px;}
.layer_wrap_new .layerclosebtn:after {width:2px;height:100%;left:50%;top:0;margin-left:-1px;}

.layer_wrap_type03 .layer_cont {border:solid 1px #e8e8e8;overflow:hidden;background-color:#fff;padding:30px 20px 50px;position:relative;}
.layer_wrap_type03 .layerclosebtn {position:absolute;width:20px;height:20px;right:20px;top:30px;text-indent:-999em;}
.layer_wrap_type03 .layerclosebtn:before,
.layer_wrap_type03 .layerclosebtn:after {content:'';background-color:#000;position:absolute;transform:rotate(-45deg);}
.layer_wrap_type03 .layerclosebtn:before {width:100%;height:1px;left:0;top:50%;margin-top:-1px;}
.layer_wrap_type03 .layerclosebtn:after {width:1px;height:100%;left:50%;top:0;margin-left:-1px;}

/* 20240417 수정 */
.user_info_wrap{
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  background: #F7F8FA;

  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 100% */
  letter-spacing: -0.64px;
}
.user_info_wrap .tit{
  color: #222;
  font-weight: 300;
  line-height: 16px; /* 100% */
  letter-spacing: -0.64px;
}
.user_info_wrap .tit span{font-weight: 600;}
.user_info_wrap ul:after{content:'';display:block;clear:both;}
.user_info_wrap ul li+li{margin-left:20px;}
.user_info_wrap ul li{float:left;position:relative;}
.user_info_wrap ul li .tip{
  position:absolute;
  top:-35px;
  left:20px;
  border:1px solid #FF4949;
  border-radius:20px;
  color: #FF4949;
  text-align: center;
  font-size: 13px;
  letter-spacing: -0.52px;
  display: flex;
  width: 84px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.user_info_wrap ul li .tip:after{
  position: absolute;
  right:37px;
  top: 19px; 
  content: '';
  width: 7px; /* 사이즈 */
  height: 7px; /* 사이즈 */
  border-top: 1px solid #FF4949; /* 선 두께 */
  border-right: 1px solid #FF4949; /* 선 두께 */
  transform: rotate(135deg); /* 각도 */
  background:#F7F8FA;
}
.user_info_wrap .txt{
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
  letter-spacing: -0.6px;
}
.user_info_wrap .value{
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 100% */
  margin-left:8px;
}
.user_info_wrap .value span{
  margin-left:4px;
}
.main_sw .swiper-slide>div{width:588px;height:368px;}
.main_sw video{height:100%;}