@charset "UTF-8";
@import url('prod.css');

/* 마이페이지 메인 */
.mypage_rbox_blue_line {display: flex;justify-content: space-between; margin-top: 32px;padding: 40px; background-color: #fff;border: 2px solid #32B6BD99; border-radius: 12px;box-shadow: 0px 6px 6px 0px #32B6BD33;}
.mypage_rbox_blue_line ul {display: flex;flex-direction: column;width: calc(100% / 3);gap: 25px;padding-right: 40px;}
.mypage_rbox_blue_line ul:last-child {padding-right: 0;}
.mypage_rbox_blue_line ul + ul {border-left: 1px solid #E1E3E9;padding-left: 40px;}
.mypage_rbox_blue_line ul li {display: flex;justify-content: space-between;align-items: center;}
.mypage_rbox_blue_line ul li .item_tit {font-size: 18px;font-weight: 300;line-height: 18px;color:#222;}
.mypage_rbox_blue_line ul li .item_tit::before {content: '';display: inline-flex;width:4px;height: 4px;background-color: #222;border-radius: 50%;vertical-align: middle; margin-right: 7px;}
.mypage_rbox_blue_line ul li .item_cont {font-size: 20px;font-weight: 300;line-height: 20px;color:#222;}
.mypage_rbox_blue_line ul li .item_cont span {font-weight:600;font-family: 'Montserrat';}

.mypage_gray_rbox {background-color: #F7F8FA;border-radius: 12px;padding: 40px;margin-top: 32px;display: flex;justify-content: space-between;}
.mypage_gray_rbox dl {display: flex;padding-right: 40px;border-right: 1px solid #E1E3E9;}
.mypage_gray_rbox dl dt {width: 74px;}
.mypage_gray_rbox .menu_list {display: flex;flex-direction: column;gap: 12px;align-items: center;border-right: 1px solid #E1E3E9;padding-right: 40px;}
.mypage_gray_rbox .menu_list.has-count {padding-right: 0;border-right: 0;align-items: flex-start;width: 145px;}
.mypage_gray_rbox .menu_list.has-count li {display: flex;justify-content: space-between;width: 100%;}
.mypage_gray_rbox .menu_list.has-count li .count {color:#717B8A;font-size: 15px;font-weight: 300;line-height: 15px;}
.mypage_gray_rbox .menu_list.has-count li .count strong {font-weight: 600;}
.mypage_gray_rbox .menu_list li a {font-size: 16px;font-weight: 600;line-height: 16px;color:#222;}
.mypage_gray_rbox dl dt {font-size: 16px;font-weight: 600;line-height: 16px;color:#222;}
.mypage_gray_rbox .mypg_slist {display: flex;gap: 12px;flex-direction: column;}
.mypage_gray_rbox .mypg_slist li {position: relative;padding-left: 6px;}
.mypage_gray_rbox .mypg_slist li::before {content: '';display: block;width: 2px;height: 2px;background-color: #717B8A;position: absolute;left: 0;top: 5px;}
.mypage_gray_rbox .mypg_slist li a {font-size: 15px;font-weight: 300;line-height: 15px;color:#717B8A;}
.mypage_gray_rbox .mypg_slist.two_col {flex-wrap: wrap;width: 230px;flex-direction: row;flex:1;}
.mypage_gray_rbox .mypg_slist.two_col li {width: 109px;}

.mypage_gray_rbox.search_option {padding: 20px 40px;gap: 12px;flex-direction: column;}
.mypage_gray_rbox.search_option .search_option_items {display: flex;align-items: center;position: relative;}
.mypage_gray_rbox.search_option .search_option_items .dropdown_menu_wrap {height: 35px;background-color: #fff;width: 296px;}
.mypage_gray_rbox.search_option .search_option_items .dropdown_menu_wrap button {width: 100%;height: 100%;text-align: left;display: flex; justify-content: space-between;}
.mypage_gray_rbox.search_option .search_option_items .tit { font-size: 15px;font-weight: 700;line-height: 15px;color:#000;width: 70px;}
.mypage_gray_rbox.search_option .data_period {border: 1px solid #E1E0E5;display: flex;}
.mypage_gray_rbox.search_option .data_period button {height: 35px;width: 59px;line-height: 35px;text-align: center;font-size: 14px;font-weight: 400;color:#979797;background-color: #fff;}
.mypage_gray_rbox.search_option .data_period button+button {border-left:1px solid #E1E0E5 }
.mypage_gray_rbox.search_option .data_period_picker {display: flex;justify-content: space-between;align-items: center;margin: 0 28px;}
.mypage_gray_rbox.search_option .data_period_picker input {background-color: #fff;height: 35px;line-height: 35px;width: 128px;border: 1px solid #E1E0E5;font-size: 14px;font-weight: 400;color:#000;text-indent: 10px;}
.mypage_gray_rbox.search_option .data_period_picker  img {margin-left: -20px;}
.mypage_gray_rbox.search_option .data_period_picker span {margin: 0 10px;}

.ui-datepicker-title {display: flex;align-items: center;justify-content: center;margin:0;}
.ui-datepicker-title select {padding-top: 0;padding-bottom: 0;height: 35px;}
.mypage_gray_rbox.search_option .search_form {flex:1;display: flex;align-items: center;justify-content: space-between;gap: 28px;}
.mypage_gray_rbox.search_option .search_form input {border: 1px solid #E1E0E5;height: 35px;font-size: 14px;font-weight: 400;color:#979797;}
.mypage_gray_rbox.search_option .search_form button {text-align: center; background: #0072BC;line-height: 35px;border-radius: 4px;width:56px;height:35px;font-size: 14px;font-weight: 600;color:#fff;}

/* 예치금 */
.credit_info {font-size: 15px;font-weight: 300;line-height: 15px;color:#222;display: flex;align-items: center;}
.credit_info strong {color:#FF4949;font-weight: 700;font-size: 18px;}
.btn_buy_credit {border: 1px solid #FF4949;border-radius: 16px;font-size: 14px;font-weight: 300;line-height: 32px;color:#FF4949;text-align: center;width: 94px;height: 32px;margin-left: 8px;}

.view_option_top {margin: 32px 0 24px 0;}
.check_item_box {gap: 32px;display: flex;}
.btn_excel_black {color:#fff;font-size: 13px;font-weight: 700;line-height: 35px;border-radius: 4px;height: 35px;background:#535E78;width: 108px;text-align: center;}

.mypage_table_wrap {border-top: 1px solid #222;}
.mypage_table_wrap .no_line {border-bottom: 0;}
.mypage_table_wrap .button_wrap_center {display: flex;justify-content: center;}
.mypage_table_wrap th {font-weight: 700;}
.mypage_table_wrap td .price span {font-family: 'NotoSans';font-size: 15px;font-weight: 900;line-height: 15px;color:#000;}
.mypage_table_wrap .button_wrap_center .btn_blue {background: #0072BC;line-height: 48px;border-radius: 12px;width:240px;height:48px;font-size: 16px;font-weight: 600;color:#fff;}
.reason_text {color:#FF4949 !important;}

.btn_gray_line {height: 36px;width: 79px;text-align: center; border-radius: 4px;border: 1px solid #D8DDE9;font-size: 14px;font-weight: 600;line-height: 36px;color:#222;}
.pagination.pos1 {margin-top: 24px;padding-bottom: 80px;}
.mypage_table_wrap .table_default th,
.mypage_table_wrap .table_default td {padding-left: 6px;padding-right: 6px;}
.mypage_table_wrap .table_default td {color:#000;}
.mypage_table_wrap .table_default td.text-l {text-align: left;}
.mypage_table_wrap .table_default td.text-r {text-align: right;}
.mypage_table_wrap .table_default tfoot td {font-weight: 700;}
.mypage_table_wrap .table_default td.before_search {text-align: center;height:370px;font-size: 14px;font-weight: 400;line-height: 14px;}

.delivery_tab {margin-top: 32px;}
.delivery_cont {padding-top: 40px;}
.delivery_cont .mypage_gray_rbox {padding: 17px 64px;flex-direction: column;margin-top: 12px;}
.delivery_cont .mypage_gray_rbox table {width: 100%;font-family: 'NotoSans';}
.delivery_cont .mypage_gray_rbox table tbody th {text-align: left;font-size: 15px;font-weight: 400;line-height: 15px;color:#000;padding: 7px 0;}
.delivery_cont .mypage_gray_rbox table tbody td {text-align: left;font-size: 15px;font-weight: 400;line-height: 15px;color:#717B8A;padding: 7px 0;}

.delivery_cont .mypage_gray_rbox .delivery_time_list {flex-direction: column;}
.delivery_cont .mypage_gray_rbox .delivery_time_list dt {font-family: NotoSans;font-size: 15px;font-weight: 400;line-height: 15px;color:#000000;width: auto;}
.delivery_cont .mypage_gray_rbox .delivery_time_list dd .delivery_list_dot {border-top: 0;margin-top: 0;padding-top: 0;}
.delivery_cont .mypage_gray_rbox .delivery_time_list dd {border-bottom: 1px solid #E1E3E9;}
.delivery_cont .mypage_gray_rbox .delivery_time_list dd {padding: 14px 0;margin-bottom: 24px;}
.delivery_cont .mypage_gray_rbox .delivery_time_list dd:last-child {padding-bottom: 0;border-bottom: 0;}

.delivery_list_dot {border-top: 1px solid #E1E3E9;padding-top: 24px;margin-top: 20px;}
.delivery_list_dot.only_ul {border-top: 0;padding-top:0;margin-top: 0;}
.delivery_list_dot li {font-family: 'NotoSans';font-size: 15px;font-weight: 400;line-height: 15px;color:#979797;position: relative;padding-left:7px;}
.delivery_list_dot li+li {margin-top: 12px;}
.delivery_list_dot li::before {content: '';width: 2px;height:2px;background-color: #979797;position: absolute;left:0;top: 50%;transform: translateY(-50%);}
.delivery_cont .tit_ft16 + .mypage_gray_rbox {margin-bottom: 24px;}

/* 멤버쉽 */
.mypage_table_wrap.membership_guide {margin-top: 16px;}
.mypage_table_wrap.membership_guide table {border-top: 1px solid #000000;font-family: 'NotoSans';}
.mypage_table_wrap.membership_guide table thead th {background-color: #fff;font-size: 18px;font-weight: 700;line-height: 18px;color:#000;height: 72px; text-align: left;padding: 0 16px;border-bottom: 1px solid #F0F0F0;}
.mypage_table_wrap.membership_guide table thead th:first-child {border-left: 0;}
.mypage_table_wrap.membership_guide table tbody th {background-color: #fff;text-align: left;font-family: 'Montserrat';font-size: 16px;font-weight: 600;line-height: 16px;color:#000;padding-left: 16px;border-bottom: 1px solid #F0F0F0;}
.mypage_table_wrap.membership_guide table tbody td {font-size: 15px;font-weight: 400;line-height: 15px;color:#000;padding: 16px; border-left: 1px solid #F0F0F0;text-align: left;}
.mypage_table_wrap.membership_guide table tbody td.text-c {text-align: center;}
.mypage_table_wrap.membership_guide table tbody td.order_line {line-height: 18px;}
.mypage_table_wrap.membership_guide table tbody td dl {display: flex;flex-direction: column;gap: 8px;}
.mypage_table_wrap.membership_guide table tbody td dt {font-size: 15px;font-weight: 400;line-height: 15px;color:#000;}
.mypage_table_wrap.membership_guide table tbody td dd {font-size: 15px;font-weight: 400;line-height: 15px;color:#979797;position: relative;padding-left: 7px;}
.mypage_table_wrap.membership_guide table tbody td dd::before {content: '';width: 2px;height:2px;background-color: #979797;position: absolute;left:0;top: 50%;transform: translateY(-50%);}
.mem_label {display: flex;align-items: center;gap: 9px;}
.mem_label .level_icon {width: 33px;height:34px;}
.mem_label .level_icon.new {background: url('../img/common/ico/ico_level_basic.png') no-repeat center;}
.mem_label .level_icon.family {background: url('../img/common/ico/ico_level_family.png') no-repeat center;}
.mem_label .level_icon.silver {background: url('../img/common/ico/ico_level_silver.png') no-repeat center;}
.mem_label .level_icon.gold {background: url('../img/common/ico/ico_level_gold.png') no-repeat center;}
.mem_label .level_icon.diamond {background: url('../img/common/ico/ico_level_diamond.png') no-repeat center;}
.mem_label .level_icon.vip {background: url('../img/common/ico/ico_level_vip.png') no-repeat center;}

.mypage_rbox_blue_line.member_ship_status {flex-direction: column;}
.mypage_rbox_blue_line.member_ship_status .member_ship_text {display: flex;align-items: center;padding-bottom: 32px; border-bottom: 1px solid #E1E3E9;font-size: 24px;font-weight: 300;line-height: 24px;color:#222;}
.mypage_rbox_blue_line.member_ship_status .member_ship_text .name {font-weight: 700;}
.mypage_rbox_blue_line.member_ship_status .member_ship_text .level {font-weight: 700;font-family: 'Montserrat';font-weight: 600;color:#FF4949;}
.mypage_rbox_blue_line.member_ship_status .mem_label {margin-right: 4px;}
.mypage_rbox_blue_line.member_ship_status .mem_label .level_icon {width: 42px;height: 42px;background-size: 42px auto;}
.member_level_status_board {display: flex;justify-content: space-between;gap: 40px;padding-top: 40px;}
.member_level_status_board .level_step_box {width: 526px;margin:0 auto;position: relative;}
.member_level_status_board .level_step_box .level_bar {background-color: #F2F5FA;height: 8px;border-radius: 4px;width: 100%;position: relative;overflow: hidden;}
.member_level_status_board .level_step_box .level_bar .level_bar_in {background-color: #D8DDE9;height: 8px;border-radius: 4px;position: absolute;left:0;top:0;}
.member_level_status_board .level_list {display: flex;justify-content: space-between;width: 100%;flex-direction: row;margin-top: 16px;}
.member_level_status_board .level_list li {display: flex;flex-direction: column;gap: 17px;}
.member_level_status_board .level_list li .mem_label .level_icon {width: 21px;height: 21px;background-size: 21px auto;opacity: 0.5;}
.member_level_status_board .level_list li .mem_label_name {font-size: 16px;font-weight: 600;line-height: 16px;color:#AEB7C6;}
.member_level_status_board .level_list li.active .mem_label .level_icon {opacity: 1;}
.member_level_status_board .level_list li.active .mem_label_name {color:#222;}
.member_level_status_board .lebel_point_box {display: flex;justify-content: center;flex-direction: row;}
.member_level_status_board .lebel_point_box li {position: relative; display: flex;flex-direction: column;justify-content: center;gap: 8px;padding: 0 20px;width: 160px;}
.member_level_status_board .lebel_point_box li:first-child {padding-left: 0;}
.member_level_status_board .lebel_point_box li:first-child::after {content:'';width:1px;height: 46px;position: absolute;top: 50%;transform: translateY(-50%);right: -20px;background-color: #E1E3E9;}
.member_level_status_board .lebel_point_box li:last-child {padding-right: 0;}
.member_level_status_board .lebel_point_box li .text {font-size: 18px;font-weight: 300;line-height: 18px;color:#222;}
.member_level_status_board .lebel_point_box li .next_lebel {font-family: 'Montserrat';font-size: 20px;font-weight: 600;line-height: 20px;color:#222;}

.tit_single_tab {border-bottom: 1px solid #E1E3E9;width: 90%;font-size: 16px;font-weight: 600;line-height: 16px;color:#0072BC;height: 44px;margin-top: 24px;}
.tit_single_tab.gray_type {font-size: 24px;font-weight: 400;line-height: 24px;color:#222;height: auto;padding-bottom: 16px;margin-top: 64px;}
.tit_single_tab strong {width: 120px;text-align: center;height: 100%;display: flex;align-items: center;justify-content: center; position: relative;}
.tit_single_tab strong::after {content:'';height:4px; background-color: #0072BC;width: 100%;position: absolute;left:0;bottom: 0;}

/* 약가인허가보상 */
.ml28 {margin-left: 28px;}
.mypage_gray_rbox.search_option .search_option_items  .btn_excel_black.pos_right {position: absolute;right: 0;top: 0;}
.order_button_wrap.mypage {margin: 24px 0 50px;}
.order_button_wrap.mypage button {width: 240px;}
.mypage_search_result_box .result_text {font-size: 14px;font-weight: 400;line-height: 14px;color:#979797;}
.pagination {position: relative;}
.pagination .btn_pos_left {position: absolute;left:0;top:-5px;}
.detail_page_tit {font-family: 'NotoSans';font-size: 18px;font-weight: 700;line-height: 18px;color:#000;margin: 50px 0 24px;}

.drug_price_detail_list {display: flex;align-items: center;gap: 28px;}
.drug_price_detail_list li {display: flex;align-items: center;}
.drug_price_detail_list li+li {padding-left: 28px;border-left: 1px solid #D8DDE9;}
.btn_gray_line.size_small {width: 83px !important;height: 35px;border: 1px solid #535E78;border-radius: 4px;font-size: 13px;font-weight: 700;line-height: 13px;}
.count_controller_wrap.repurchase_counter {flex-direction: column;gap:15px;color:#000;}
.count_controller_wrap.repurchase_counter .count_controller {border: 1px solid #000;position: relative;}
.count_controller_wrap.repurchase_counter .count_controller .btn_minus::after {content:'';width: 1px;height: 100%;position: absolute;left: 41px; top: 0;background-color: #000;}
.count_controller_wrap.repurchase_counter .count_controller .btn_plus::after {content:'';width: 1px;height: 100%;position: absolute;right: 41px; top: 0;background-color: #000;}
.count_controller_wrap.repurchase_counter .order_count_text {color:#000;}

.mypage_order_box {margin:0px 0 50px;display: flex;justify-content: space-between;border: 1px solid #059BD8;border-top: 5px solid #059BD8;border-radius: 8px;padding: 32px 40px;}
.mypage_order_box .total_price {display: flex;gap: 40px;font-size: 15px;font-weight: 400;line-height: 15px;color:#000;align-items: center;}
.mypage_order_box .total_price .price_area strong {font-size: 26px;font-weight: 700;line-height: 26px;}
.mypage_order_box .order_button_wrap {display: flex;align-items: center;justify-content: flex-end;gap:8px;}
.mypage_order_box .order_button_wrap button {width: 160px;}

/* 주거래 약정 */
/* 주거래 약정 */
.agreement_wrap {
    margin-top: 72px;
    font-family: "NotoSans", Dotum, sans-serif;
  }
  .agreement_wrap h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.96px;
  }
  .agreement_wrap h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.8px;
  }
  .agreement_wrap h5 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: -0.72px;
  }
  .agreement_wrap h6 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
  .agreement_wrap ol li {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color:#000;
  }
  .agreement_wrap dl {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: -0.6px;
  }
  .agreement_wrap ol li + li {
    margin-top: 14px;
  }
  .agreement_wrap .agreement_guidebox {
    background-color: #f7f7f7;
    border-radius: 12px;
    padding: 24px 40px;
    margin: 28px 0;
  }
  .agreement_wrap .agreement_guidebox h4 {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e1e3e9;
  }
  .agreement_wrap .agreement_guidebox ul {
    margin-top: 14px;
  }
  .agreement_wrap .agreement_guidebox ul li {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: #979797;
    position: relative;
    padding-left: 6px;
  }
  .agreement_wrap .agreement_guidebox ul li::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    background-color: #979797;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
  }
  .agreement_wrap .agreement_current {
    border-top: 1px solid #000;
    display: flex;
    margin-bottom: 24px;
  }
  .agreement_wrap .agreement_current > div {
    padding: 24px 30px;
    width: calc(100% / 3);
  }
  .agreement_wrap .agreement_current > div h5 {
    margin-bottom: 28px;
  }
  .agreement_wrap .agreement_current > div dl {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: -0.6px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
  .agreement_wrap .agreement_current > div dt {
    width: 60%;
  }
  .agreement_wrap .agreement_current > div dd {
    width: 40%;
    text-align: end;
  }
  .agreement_wrap .agreement_current > div dd.red {
    font-weight: 400;
  }
  .agreement_wrap .agree_detail_tab {
    width: 100%;
    border-bottom: 1px solid #e1e3e9;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.64px;
    font-weight: 600;
    margin-bottom: 28px;
  }
  .agreement_wrap .agree_detail_tab > button {
    width: 120px;
    height: 48px;
    text-align: center;
  }
  .agreement_wrap .agree_detail_tab > button.active {
    color: #0072bc;
    border-bottom: 4px solid #0072bc;
  }
  .agreement_wrap .agree_detail_tab_cont,
  .agreement_wrap .agree_detail_inner_tab_cont {
    display: none;
  }
  .agreement_wrap .agree_detail_tab_cont.active,
  .agreement_wrap .agree_detail_inner_tab_cont.active {
    display: block;
  }
  .agreement_wrap .agree_detail_inner_tab {
    padding: 20px 40px;
    background-color: #f7f7f7;
    border-radius: 12px;
    display: flex;
    width: 100%;
    margin: 28px 0 50px;
  }
  .agreement_wrap .agree_detail_inner_tab > button {
    position: relative;
  }
  .agreement_wrap .agree_detail_inner_tab > button + button {
    margin-left: 33px;
  }
  .agreement_wrap .agree_detail_inner_tab > button + button::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background-color: #d8dde9;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    display: inline-block;
  }
  .agreement_wrap .agree_detail_inner_tab > button.active {
    color: #1293e7;
  }
  .agreement_wrap .agree_detail_inner_tab_cont h4 {
    margin-bottom: 28px;
    color: #1293e7;
    display: flex;
    align-items: center;
  }
  .agreement_wrap .agree_detail_inner_tab_cont h4 > span {
    width: 4px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    background-color: #1293e7;
  }
  .agreement_wrap .agree_detail_inner_tab_cont table:not(.table_default) {
    border-top: 1px solid #ccc;
    margin-top: 16px;
  }
  .agreement_wrap .agree_detail_inner_tab_cont table:not(.table_default) th {
    padding: 26.5px 0 26.5px 24px;
    text-align: start;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #000;
    letter-spacing: -0.56px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e8e8e8;
  }
  .agreement_wrap .agree_detail_inner_tab_cont table:not(.table_default) td {
    padding: 16px 0 16px 24px;
    text-align: start;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #000;
    letter-spacing: -0.56px;
    border-bottom: 1px solid #e8e8e8;
  }
  .agreement_wrap .agree_detail_inner_tab_cont table td .select_box {
    width: 376px;
    font-weight: 400;
  }
  .agreement_wrap input[type="checkbox"] + .label::before {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    content: "";
    vertical-align: top;
    opacity: 1;
  }
  .agreement_wrap input[type="checkbox"] + .label {
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
  }
  .agreement_wrap input[type="checkbox"]:checked + .label::before {
    background: #fff url(../img/common/ico/ico_check_agree.png) center center no-repeat;
  }
  .agreement_wrap .role-box {
    padding: 31px 7px 31px 23px;
    border: 1px solid #e1e1e3;
    border-radius: 12px;
    margin-top: 14px;
  }
  .agreement_wrap .role-box > div {
    padding-right: 13px;
    height: 120px;
    overflow-y: auto;
  }
  .agreement_wrap .role-box > div p {
    line-height: 24px;
    color: #000;
  }
  .agreement_wrap .role-box > div::-webkit-scrollbar {
    width: 6px;
  }
  .agreement_wrap .role-box > div::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 3px;
  }
  .agreement_wrap .role-box > div::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .agreement_wrap .btn_flx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
  }
  .agreement_wrap .btn_flx .btn {
    width: 240px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: -0.64px;
    border-radius: 12px;
    padding: 16px 0;
    text-align: center;
  }
  .agreement_wrap .btn_flx .btn.btn_bg {
    background-color: #0072bc;
    color: #fff;
  }
  .agreement_wrap .btn_flx .btn.btn_bd {
    border: 1px solid #0072bc;
    color: #0072bc;
    background-color: #fff;
  }
  .agreement_wrap .warning_box {
    background-color: #f7f7f7;
    padding: 24px 0;
    border-radius: 12px;
    display: flex;
    color: #000;
    margin-top: 24px;
  }
  .agreement_wrap .warning_box dt {
    width: 160px;
    position: relative;
    text-align: end;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.8px;
    padding-right: 24px;
  }
  .agreement_wrap .warning_box dt::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 73px;
    background-color: #e1e3e9;
    right: 0;
    top: 0;
  }
  .agreement_wrap .warning_box dd {
    padding-left: 24px;
  }
  .agreement_wrap .agree_recent {
    margin-top: 50px;
  }
  .agreement_wrap .agree_recent h6 > span {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
    color: #979797;
    margin-left: 8px;
  }
  
.mypage_table_wrap .table_default td.product_thumb_img {text-align: left;padding-left: 10px;}
.mypage_table_wrap .table_default td.product_thumb_img .products {display: flex;align-items: center;gap: 10px;}
.mypage_table_wrap .table_default td.product_thumb_img .thumb {width: 84px;height: 84px;border-radius: 4px;overflow: hidden;}
.mypage_table_wrap .table_default td.product_thumb_img .name {font-size: 14px;font-weight: 400;line-height: 14px;color:#000;}
.mypage_order_box .calc_list {display: flex;align-items: center;flex:1;justify-content:space-between;}
.mypage_order_box .calc_list li {display: flex;flex-direction: column;align-items: center;justify-content: center;font-family: 'NotoSans';font-size: 15px;font-weight: 400;line-height: 15px;color:#000;gap: 12px;}
.mypage_order_box .calc_list li .price strong {font-size: 20px;font-weight: 700;line-height: 20px;color:#000;}
.mypage_order_box .calc_list li.calc_sign {width: 100px;text-align: center;}
.mypage_order_box .calc_list li.dc_price,
.mypage_order_box .calc_list li.dc_price strong {color:#FF5A63;}
.mypage_order_box .calc_list li.end_price {flex:1;padding-right: 40px;border-right: 1px solid #F0F0F0;margin-right: 40px; justify-content: flex-end;align-items: flex-end;}
.mypage_order_box .calc_list li.end_price .tit {color:#0072BC;}
.mypage_order_box .calc_list li.end_price strong {font-size: 26px;line-height: 26px;font-weight: 700;}